<style>
    /* دکمه‌های عملیات در حالت عادی مخفی باشند */
    .action-icons {
        display: none;
        white-space: nowrap;
    }
    /* وقتی موس روی ردیف رفت، نمایش داده شوند */
    tr:hover .action-icons {
        display: inline-block;
    }
</style>
<div class="col-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>@Config.Title</span>
            @if (Config.NewRowButtonDataGridConfig.IsShow)
            {
                <div class="btn-group">
                    <button @onclick="OpenInputMadal" class="btn btn-primary"><i class="fa-solid fa-plus"></i> @Config.NewRowButtonDataGridConfig.ButtonTitle</button>
                </div>
            }
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover align-middle">
                    <thead class="table-dark">
                        <tr>
                            @foreach (var Column in Config.Columns)
                            {
                                <th scope="@Column.Scope" class="@Column.Class" style="@Column.Style">@Column.Title</th>
                            }
                            @foreach (var GroupAction in Config.GroupActions)
                            {
                                <th style="width:@GroupAction.Width"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Data.Any())
                        {
                            @foreach (var item in Data)
                            {
                                <tr>
                                    @foreach (var Column in Config.Columns)
                                    {
                                        <td>@item[Column.PropertyName]</td>
                                    }
                                    @*                                     @foreach (var GroupAction in Config.GroupActions)
                                    {
                                        <td>
                                            <span class="action-icons ms-2">
                                                @foreach (var Action in GroupAction.Actions)
                                                {
                                                    <button @onclick="()=>Action.OnClick(item)" class="btn btn-sm @Action.ButtonClass me-1">
                                                        <i class="fa-solid @Action.IconClass"></i>
                                                    </button>
                                                }
                                            </span>
                                        </td>
                                    } *@
                                    <td>
                                        <span class="action-icons ms-2">
                                            <button @onclick="()=>OpenEditModalAsync(item)" class="btn btn-sm btn-primary me-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                            <button @onclick="()=>OpenConfirmModal(item)" class="btn btn-sm btn-danger">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center text-muted">
                                    هیچ داده‌ای موجود نیست
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (IsShowInputMadal)
{
    <div class="modal modal-lg fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog @InputModal.Size">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">@InputModal.Title</h5>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            @for (int i = 0; i < InputModal.ColumnCount; i++)
                            {
                                <div class="col-md-@(12/InputModal.ColumnCount)">
                                    @foreach (var Field in InputModal.Fields.Where((item, index) => index % InputModal.ColumnCount == i))
                                    {
                                        @switch (Field.ValuType)
                                        {
                                            case ModelEditorValueType.Text:
                                                {
                                                    <div class="mb-3">
                                                        <label class="form-label">@Field.Title</label>
                                                        <input class="form-control" @bind="Field.Value" />
                                                    </div>
                                                    break;
                                                }
                                            case ModelEditorValueType.Number:
                                                {

                                                    break;
                                                }
                                            case ModelEditorValueType.Selective:
                                                {
                                                    @* <SearchableSelect Items="((SelectiveItemField)Field).Items" /> *@
                                                    @* <MultiSelect Items="((SelectiveItemField)Field).Items" /> *@
                                                    @* <GridMultiSelect ValueChanged="(values)=>SelectiveValueChanged(values,Field)" Items="((SelectiveItemField)Field).Items" /> *@


                                                    <div class="mb-3">
                                                        <label class="form-label">@Field.Title</label>
                                                        <GridMultiSelect ValueChanged="(values)=>SelectiveValueChanged(values,Field)" Items="((SelectiveItemField)Field).Items" />
                                                    </div>
                                                    break;
                                                }
                                            case ModelEditorValueType.Readonly:
                                                {
                                                    <div class="mb-3">
                                                        <label class="form-label">@Field.Title</label>
                                                        <input disabled class="form-control" @bind="Field.Value" />
                                                    </div>
                                                    break;
                                                }
                                            case ModelEditorValueType.Password:
                                                {
                                                    <div class="mb-3">
                                                        <label class="form-label">@Field.Title</label>
                                                        <input type="password" class="form-control" @bind="Field.Value" />
                                                    </div>
                                                    break;
                                                }
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseInputMadal">بستن</button>
                    <button class="btn btn-primary" @onclick="OnSubmitAsync">ثبت</button>
                </div>
            </div>
        </div>
    </div>
}

@if (IsShowConfirmModal)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">@ConfirmModal.Title</h5>
                </div>

                <div class="modal-body">
                    <p>@ConfirmModal.Content</p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseConfirmModal">لغو</button>
                    <button class="btn btn-danger" @onclick="OnConfirmConfirmModal">تأیید</button>
                </div>

            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public DataGridConfig Config { get; set; } = new DataGridConfig();
    private List<Dictionary<string, string>> Data { get; set; } = new List<Dictionary<string, string>>();
    public InputModal InputModal { get; set; } = new InputModal();
    public bool IsShowConfirmModal { get; set; } = false;

    public ConfirmModal ConfirmModal { get; set; } = new ConfirmModal();

    private bool IsShowInputMadal { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await LoadDataGridAsync();
    }
    public async Task LoadDataGridAsync()
    {
        Data.Clear();
        var list = await Config.LoadDataAsync();
        foreach (var item in list)
        {
            var dict = item.ToDictionary();
            Data.Add(dict);
        }
    }
    public async Task OnSubmitAsync()
    {
        var form = InputModal.Fields.ToDictionary(f => f.PropertyName, f => f.Value);
        var CloseModal = InputModal.OnSubmit(form);
        if (CloseModal)
        {
            await LoadDataGridAsync();
            CloseInputMadal();
            StateHasChanged();
        }
    }
    public void OpenInputMadal()
    {
        InputModal = Config.NewRowButtonDataGridConfig.OnOpenModal();
        IsShowInputMadal = true;
    }
    public void CloseInputMadal()
    {
        IsShowInputMadal = false;
        foreach (var Field in InputModal.Fields)
        {
            Field.Value = default;
        }
    }
    public void OpenEditModalAsync(Dictionary<string, string> row)
    {
        InputModal = Config.EditRowButtonDataGridConfig.OnOpenModal(row);
        IsShowInputMadal = true;
    }
    public void OpenConfirmModal(Dictionary<string, string> row)
    {
        ConfirmModal = Config.DeleteRowButtonDataGridConfig.OnOpenModal(row);
        IsShowConfirmModal = true;
    }
    public void CloseConfirmModal()
    {
        IsShowConfirmModal = false;
    }
    public async Task OnConfirmConfirmModal()
    {
        ConfirmModal.OnConfirm();
        await LoadDataGridAsync();
        IsShowConfirmModal = false;
    }
    private void SelectiveValueChanged(List<int> Values, ItemField Field)
    {
        Field.Value = string.Join(',', Values);
    }
}

