<style>
    /* دکمه‌های عملیات در حالت عادی مخفی باشند */
    .action-icons {
    display: none;
    white-space: nowrap;
    }
    /* وقتی موس روی ردیف رفت، نمایش داده شوند */
    tr:hover .action-icons {
    display: inline-block;
    }
</style>
<div class="col-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>@Config.Title</span>
            @if (Config.NewRowButtonDataGridConfig.IsShow)
            {
                <div class="btn-group">
                    <button @onclick="OpenInputMadal" class="btn btn-primary"><i class="fa-solid fa-plus"></i> @Config.NewRowButtonDataGridConfig.ButtonTitle</button>
                </div>
            }
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover align-middle">
                    <thead class="table-dark">
                        <tr>
                            @foreach (var Column in Config.Columns)
                            {
                                <th scope="@Column.Scope" class="@Column.Class" style="@Column.Style">@Column.Title</th>
                            }
                            @foreach (var GroupAction in Config.GroupActions)
                            {
                                <th style="width:@GroupAction.Width"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Data.Any())
                        {
                            @foreach (var item in Data)
                            {
                                <tr>
                                    @foreach (var Column in Config.Columns)
                                    {
                                        <td>@item[Column.PropertyName]</td>
                                    }
                                    @*                                     @foreach (var GroupAction in Config.GroupActions)
                                    {
                                        <td>
                                            <span class="action-icons ms-2">
                                                @foreach (var Action in GroupAction.Actions)
                                                {
                                                    <button @onclick="()=>Action.OnClick(item)" class="btn btn-sm @Action.ButtonClass me-1">
                                                        <i class="fa-solid @Action.IconClass"></i>
                                                    </button>
                                                }
                                            </span>
                                        </td>
                                    } *@
                                    <td>
                                        <span class="action-icons ms-2">
                                            <button @onclick="()=>OpenEditUserModalAsync(item)" class="btn btn-sm btn-primary me-1">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                            @*                                             <button @onclick="()=>OpenConfirmDeleteUserModal(User.Id)" class="btn btn-sm btn-danger">
                                                <i class="fa-solid fa-trash"></i>
                                            </button> *@
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center text-muted">
                                    هیچ داده‌ای موجود نیست
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (IsShowInputMadal)
{
    <div class="modal modal-lg fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">@InputModal.Title</h5>
                </div>

                <div class="modal-body">
                    @foreach (var Field in InputModal.Fields)
                    {
                        @switch (Field.ValuType)
                        {
                            case ModelEditorValueType.Text:
                                {
                                    <div class="mb-3">
                                        <label class="form-label">@Field.Title</label>
                                        <input class="form-control" @bind="Field.Value" />
                                    </div>
                                    break;
                                }
                            case ModelEditorValueType.Number:
                                {

                                    break;
                                }
                            case ModelEditorValueType.Selective:
                                {
                                    @* <SearchableSelect Items="((SelectiveItemField)Field).Items" /> *@
                                    @* <MultiSelect Items="((SelectiveItemField)Field).Items" /> *@
                                    <GridMultiSelect Items="((SelectiveItemField)Field).Items" />
                                    break;
                                }
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseInputMadal">بستن</button>
                    <button class="btn btn-primary" @onclick="OnSubmitCreateItem">ثبت</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public DataGridConfig Config { get; set; } = new DataGridConfig();
    private List<Dictionary<string, string>> Data { get; set; } = new List<Dictionary<string, string>>();
    public InputModal InputModal { get; set; } = new InputModal();
    private bool IsShowInputMadal { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var list = await Config.LoadDataAsync();
        foreach (var item in list)
        {
            var dict = ((object)item).GetType()
              .GetProperties()
              .ToDictionary(p => p.Name, p => (string)p.GetValue(item));
            Data.Add(dict);
        }
    }
    public void OnSubmitCreateItem()
    {
        var form = Config.NewRowButtonDataGridConfig.Fields.ToDictionary(f => f.PropertyName, f => f.Value);
        var CloseModal = Config.NewRowButtonDataGridConfig.OnSubmitCreateItem(form);
        if (CloseModal)
        {
            CloseInputMadal();
        }
    }
    public void OpenInputMadal()
    {
        InputModal = Config.NewRowButtonDataGridConfig;
        IsShowInputMadal = true;
    }
    public void CloseInputMadal()
    {
        IsShowInputMadal = false;
    }
    public void OpenEditUserModalAsync(Dictionary<string,string> row)
    {
        InputModal = Config.EditButtonDataGridConfig.OnOpenModal(row);
        IsShowInputMadal = true;
    }


    /*private int SelectedUserIdForDelete;
    public UserViewModel? SelectedUserForEdit { get; set; }
    private bool IsOpenCreateUserModal;
    public User CreateUser { get; set; } = new User();
    protected async Task LoadGridData()
    {
        UserList = await UsersService.GetUsersAsync();
        }
    public async Task OpenEditUserModalAsync(int Id)
    {
        var UserModalFields = new List<PropertyDescriptor>
                                        {
                            new PropertyDescriptor
                                {
                                    DisplayName = "نام",
                                    Name = "FirstName",
                                    Value = string.Empty
                                },            new PropertyDescriptor
                                {
                                    DisplayName = "نام خوانوادگی",
                                    Name = "LastName",
                                    Value = string.Empty
                                },
                                    };
        EditorModalService.OnConfirmClick = () =>
        {

            };
        EditorModalService.OpenModal(UserModalFields);
        await Task.FromResult(0);
        //SelectedUserForEdit = await UsersService.GetUserByIdAsync(Id);
        }
    public void OpenCreateUserModal()
    {
        IsOpenCreateUserModal = true;
        }
    public async Task CreateUserAsync()
    {
        await UsersService.CreateUserAsync(CreateUser);
        await LoadGridData();
        CloseCreateUserModal();
        CreateUser = new User();
        }
    public void CloseCreateUserModal()
    {
        IsOpenCreateUserModal = false;
        }
    public void CloseEditUserModal()
    {
        SelectedUserForEdit = null;
        }
    public async Task ConfirmDeleteUserModal()
    {
        await UsersService.DeleteUserAsync(SelectedUserIdForDelete);
        await LoadGridData();
        CloseDeleteUserModal();
        }
    public void CloseDeleteUserModal()
    {
        SelectedUserIdForDelete = 0;
        }
    public void OpenConfirmDeleteUserModal(int UserId)
    {
        SelectedUserIdForDelete = UserId;
        }*/
}

