@page "/Admin/Users"
@layout MainLayout
@inject UsersService UsersService


<style>
    /* دکمه‌های عملیات در حالت عادی مخفی باشند */
    .action-icons {
        display: none;
        white-space: nowrap;
    }
    /* وقتی موس روی ردیف رفت، نمایش داده شوند */
    tr:hover .action-icons {
        display: inline-block;
    }
</style>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">شناسه</th>
                <th scope="col">نام</th>
                <th scope="col">نام خوانوادگی</th>
                <th scope="col">نام کاربری</th>
                <th scope="col" style="width:120px"></th>
            </tr>
        </thead>
        <tbody>
            @if (UserList.Any())
            {
                @foreach (var User in UserList)
                {
                    <tr>
                        <td>@User.Id</td>
                        <td>@User.FirstName</td>
                        <td>@User.LastName</td>
                        <td>@User.UserName</td>
                        <td>
                            <span class="action-icons ms-2">
                                <button @onclick="()=>OpenEditUserModalAsync(User.Id)" class="btn btn-sm btn-primary me-1">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center text-muted">
                        هیچ داده‌ای موجود نیست
                    </td>
                </tr>
            }

            @if (SelectedUserForEdit != null)
            {
                <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">User Details</h5>
                                <button type="button" class="btn-close" @onclick="CloseEditUserModal"></button>
                            </div>

                            <div class="modal-body">
                                <div class="mb-2"><strong>شناسه:</strong> @SelectedUserForEdit.Id</div>
                                <div class="mb-2"><strong>نام کاربری:</strong> @SelectedUserForEdit.UserName</div>
                                <div class="mb-2"><strong>نام:</strong> @SelectedUserForEdit.FirstName</div>
                                <div class="mb-2"><strong>نام خوانوادگی:</strong> @SelectedUserForEdit.LastName</div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary" @onclick="CloseEditUserModal">بستن</button>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>

@code {
    private List<UserViewModel> UserList { get; set; }

    public UserViewModel? SelectedUserForEdit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserList = await UsersService.GetUsersAsync();
    }
    public async Task OpenEditUserModalAsync(int Id)
    {
        SelectedUserForEdit = await UsersService.GetUserByIdAsync(Id);
    }
    public void CloseEditUserModal()
    {
        SelectedUserForEdit = null;
    }
}

